header h1{
    text-align: center;
    font-size: 36px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}
article{
    flex: 1 1 400px;
    max-width: 500px;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
article img{
    width: 100%;
    height: auto;
}
p{
    padding: 10px;
}
